html {
  background: none;
}
body {
  margin: 0;

  font-family: 'HY견고딕', 'Roboto', 'Dotum', sans-serif;

  user-select: none;
  -webkit-user-select: none;

  overflow: hidden;
}
body::after {
  display: block;
  content: '';

  position: fixed;
  right: 0;
  bottom: 0;

  width: 0;
  height: 0;

  border: 8px solid; /* Resize handle size is controlled by plugin; no ctrl */
  border-color: transparent rgba(127, 127, 127, 0.3) rgba(127, 127, 127, 0.3) transparent;
  background: rgba(127, 127, 127, 0.1);
}
#container {
  background: #181818;
  color: #fff;
  width: 30rem;
  height: 20rem;

  display: flex;
  flex-wrap: wrap;

  transform-origin: left top;

  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 0.125rem rgba(255, 255, 255, 0.125) inset,
              0 -0.5rem 0.125rem rgba(0, 0, 0, 0.25) inset;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

header {
  width: 100%;
  height: 1rem;

  padding-left: 1rem;

  font-size: 0.75rem;
  font-family: 'Roboto', 'Malgun Gothic', sans-serif;
}
main {
  width: 26rem;
  height: 14rem;
  margin-left: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  background: #000;
}

main > * {
  height: 3rem;

  font-size: 2.5rem;
  padding: 0.25rem;

  display: flex;
  align-items: center;
}

aside {
  width: 3rem;
  height: 14.5rem;
  padding-left: 0.25rem;
}

footer {
  width: 30rem;
  height: 1.5rem;

  margin-left: 1rem;

  font-size: 0.75rem;
  font-family: 'Roboto', 'Malgun Gothic', sans-serif;
  font-weight: 200;

  line-height: 1.5rem;
  overflow: hidden;

  color: #b0bec5;
}
footer > ol {
  list-style: decimal;
  list-style-position: inside;
}
footer li {
  float: left;
  margin-right: 0.25rem;
}
footer > ol.blur > li:not(.me) {
  filter: blur(0.15rem);
  -webkit-filter: blur(0.15rem);
}
nav {
  width: 30rem;
  height: 3rem;
  font-size: 1.5rem;

  margin-left: 4.5rem;

  display: flex;
}
nav > button {
  width: 4.5rem;
  margin-left: 0.5rem;

  box-shadow: 0 0.5rem 0.25rem rgba(255, 255, 255, 0.25) inset,
              0 -0.25rem 0.5rem rgba(0, 0, 0, 0.125) inset;
}
nav > button:first-of-type {
  border-top-left-radius: 0.75rem;
}
nav > button:last-of-type {
  border-top-right-radius: 0.75rem;
}
#end-encounter {
  background: #fafafa;
}
#toggle-blur {
  background: #bbdefb;
}
#toggle-pet-merge {
  background: #ef9a9a;
}
#toggle-detail {
  background: #fff59d;
}
#reload {
  background: #aed581;
}

/* .display-cell related */
.cell-jobs {
  width: 11rem;
  padding: 0;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}
.cell-jobs .me {
  background: rgba(255, 255, 255, 0.15)
}
.clsicon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.125rem;
  -webkit-filter: grayscale(1);
}
.cell-number, .cell-number-narrow {
  letter-spacing: -0.1rem;
}
.cell-number {
  width: 8rem;
}
.cell-number-narrow {
  width: 7rem;
}
.cell-number-2line {
  width: 3rem;
  font-size: 1rem;
  flex-wrap: wrap;
}
.cell-number-2line > span {
  width: 100%;
}
.cell-number-large {
  width: 20rem;
  height: 5.5rem;

  font-size: 5.5rem;
}
.cell-number-large > span {
  letter-spacing: -0.5rem;
  transform-origin: right center;
  transform: scaleX(0.85);
  margin-right: 0.25rem;
}
#taxi-status {
  width: 3.75rem;
  height: 2.25rem;

  margin: 0.125rem;
  font-size: 1.5rem;
  justify-content: center;

  border-radius: 0.25rem;
  color: black;
}
#taxi-status:after {
  display: inline;
  content: '빈차';
}
#taxi-status.taxi-premium.taxi-premium:after {
  display: inline;
  content: '할증';
}
#taxi-status.taxi-active:after {
  display: inline;
  content: '주행';
}
.cell-location {
  height: 2.5rem;
  font-size: 1.5rem;
  flex-grow: 100;
}

/* (horse cell) */
.display-horse {
  width: 6rem;
  height: 5.5rem;

  display: flex;
  flex-wrap: wrap;
}
.horse {
  width: 6rem;
  height: 3.5rem;
}
.display-horse > .cell-number {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

/* cell colors */
#label-rank {
  color: #42a5f5;
}
#label-time {
  color: #66bb6a;
}
#label-damage {
  color: white;
}
#label-taximeter {
  color: #ec407a;
}
.cell-number-2line {
  color: #ff7043;
}
#label-dps {
  color: #ce93d8;
}
#label-rdps {
  color: #ffee58;
}
#taxi-status { /* 빈차 */
  background: #a5d6a7;
}
#taxi-status.taxi-active { /* 주행 */
  background: #81d4fa;
}
#taxi-status.taxi-active.taxi-premium { /* 할증 (when active) */
  background: #ef9a9a;
}
